<div class="loginPage">
  <h1
    style="padding-top:1.1rem; padding-bottom:0.5rem; padding-left:0rem; text-align: center"
  >TRACE YOUR ROAD</h1>
  <div class="card">
    <div class="container">
      <div id="card-form">
        <img style="margin: 1rem 1rem; width:90%" src="{{card.flagCountry}}" />
        <h3 style="text-align: center"> {{card.countryName}}</h3>
        <hr class="cardHr" />
        <p>Capital:<span class="spanCard">{{card.capital}}</span></p>
        <hr class="cardHr" />
        <p>Currency: <span class="spanCard">{{card.currency}}</span></p>
        <hr class="cardHr" />
        <p>Language: <span class="spanCard">{{card.language}}</span></p>
        <hr class="cardHr" />
        <p>Cities Visited: <span class="spanCard">{{card.cities}}</span></p>
        <hr class="cardHr" />
        <p>Coments: <span class="spanCard">{{card.notes}}</span></p>
        <hr class="cardHr" />
        <p>Highlight of My Trip:
          <span class="spanCard">{{card.favorites}}</span></p>
        <hr class="cardHr" />
        <p style="color:rgb(165, 36, 36)">{{arrivDate}}</p>
        <hr class="cardHr" />
        <p style="color:rgb(165, 36, 36)">{{departDate}}</p>
        <hr class="cardHr" />
        <br />
      </div>
    </div>
  </div>
  <br />

  <div class="button">
    <form class="buttonEdit" action="/auth/profile">
      <button class="textButtonEdit" type="submit">BACK TO PROFILE</button>
    </form>
  </div>

<form  action="/auth/edit-card/{{card._id}}">
  <div class="card-body">

    <span class="spanButtonsCards">
    <button style="height:2.35rem" class="buttonCard buttonCardEdit">EDIT CARD</a>
    </span>
 
  </form>



  <div class="button">
    <a class="buttonHomepage" href="/auth/del/{{_id}}">DELETE</a>
  </div>
</div>