<h2>Your Trip</h2>

<p>{{countryName}}</p>
<img src="{{flagCountry}}"</p>
<p>{{capital}}</p>
<p>{{currency}}</p>
<p>{{language}}</p>
<p>{{cities}}</p>
<p>{{notes}}</p>
<p>{{favorites}}</p>
<p>{{arrivalDate}}</p>
<p>{{departureDate}}</p>




  <form action="/auth/profile" >
    <button type="submit" >BACK TO PROFILE</button>
    </form>




     <a class="card-body" href="/auth/del/{{_id}}" class="card-link">DELETE</a>