{{! { number of countries, percentage visited, countries list, user information } }}

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <h3 style="color: white">Welcome {{user.firstName}} {{user.lastName}}</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">COLOR YOUR ROAD</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/edit-profile">Edit Profile</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="/">Logout</a>
          </li>
          <hr>
      <li>
            <form action="/auth/create-card" method="post">
            <select name="countries" >
            {{#each countries}}
            <option value="{{name.common}}">{{name.common}}</option>
            {{/each}} 
            </select>
            <button type="submit">Add Country</button>
            <hr>
         </form>
            </li>
           </ul>
</nav>
<br>
<br>
<br>
<br>
<br>

{{#each user.createdCountries}}
<div style="margin-left: 2rem; ">
<div class="card" style="width: 18rem;">
  <img src="{{flagCountry}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{countryName}} </h5>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Capital: {{capital}}</li>
    <li class="list-group-item">Official Language: </li>
    <li class="list-group-item">Currency: </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit Travel</a>
    <a href="#" class="card-link">Delete</a>
   {{!--  <button type="submit">Edit Travel</button> --}}
  </div>
</div>
</div>
<br>
{{/each}}