<nav class="nav">
<div class="containerNav">
    <div>
    <h3>TRACE YOUR<br /> ROAD</h3>
    </div>
    <div class="elementsNav">
      <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/auth/edit-profile">EDIT PROFILE</a></li>
                <li><a href="/auth/logout" style="color:grey">LOGOUT</a></li>      
      </ul>
    </div>

</div>
<div class="formProfile">
      <form action="/auth/create-card" method="post">
                <select style="color:grey  border-radius: 0;" name="countries" >
                {{#each countries}}
                <option value="{{name.common}}">{{name.common}}</option>
                {{/each}} 
                </select>
                <button  class="textButtonEdit2" type="submit">ADD COUNTRY</button>
      </form>
</div>
</nav>

<h4 class="title">COUNTRIES VISITED</h4>
<br>

<div class="teste">
<div class="cardCountries">
  <div>
  <img src="/images/map.png" alt="...">
    <hr>
    <h4>WELCOME {{user.firstName}} {{user.lastName}}</h4>
    <hr> 
  <ul>
    <li class="special">COUNTRIES VISITED: {{numbCountries}}</li><hr>
    <li class="special">YOU KNOW {{percentCountries}}% OF THE WORLD</li><hr>
    <li>BORN IN:  {{user.countryOfBirth}} </li><hr>
    <li>RESIDENCE: {{user.residence}}</li><hr>
  </ul>
  <form  action="/auth/edit-profile">
    <button class="cardButton">EDIT PROFILE</button>
</form>
  </div>
</div> 
<br>

{{#each user.createdCountries}}
<div class="cardCountries"> 
  <div>
  <img src="{{flagCountry}}" alt="contry flag">
  <hr>
  <h4>{{countryName}}</h4>
  <hr>
  <ul>
        <li>CAPITAL: {{capital}}</li>
        <hr>
        <li>OFFICIAL LANGUAGE: 
          {{#each language}}
          {{this}}
          {{/each}}
        </li>
        <hr>
        <li>CURRENCY: {{currency}} </li>
        <hr>
  </ul>
  <br>
<form  action="/auth/card-details/{{_id}}">
    <button class="cardButton">MORE DETAILS</button>
</form>

</div>
</div>
<br>
{{/each}}

</div>











